<div class="container">
    <div class="foot">
        <div class="footContent">
            <li><h4>Help</h4></li>
            <li><a href="#">Fina a post</a></li>
            <li><a href="#">Get App</a></li>
            <li><a href="#">Status</a></li>
        </div>
        <div class="footContent">
            <li><h4>About Us</h4></li>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">Leadership</a></li>
            <li><a href="#">Investors</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">Contact Us</a></li>
        </div>
        <div class="footContent">
            <li><h4>Company Value</h4></li>
            <li><a href="#">Accessiblity</a></li>
            <li><a href="#">Enviroment</a></li>
            <li><a href="#">Privacy</a></li>
        </div>
        <div class="footContent">
            <li><h4>Account</h4></li>
            <li><a href="#">Manage your ID</a></li>
            <li><a href="#">Account</a></li>
        </div>
    </div>

    <div class="copy_right">
        <span>Copyright©️ 2019 RunBin Ju. All rights Reserved.</span>
    </div>
</div>
    
